<layout-geral>
  <div fxLayout="column" fxLayoutGap="5px" class="padding-padrao">
    <div>
      <span class="secao">Sobre o evento</span>
      <mat-divider></mat-divider>
    </div>
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap.xs="5px" fxLayoutGap="5px" class="padding-padrao">
      <button mat-stroked-button (click)="clicarEditar()">
        <span class="fas fa-pencil-alt fa-4x"></span>
        <br />
        <span>Dados Evento</span>
      </button>
      <a mat-stroked-button [routerLink]="'./estatisticas'">
        <span class="far fa-chart-bar fa-4x"></span>
        <br />
        <span>Estatística</span>
      </a>
      <a mat-stroked-button [routerLink]="'./contratos'">
        <span class="fas fa-file-contract fa-4x"></span>
        <br />
        <span>Contrato</span>
      </a>
      <a mat-stroked-button [routerLink]="'./mensagens-inscricao'">
        <span class="fas fa-envelope-open-text fa-4x"></span>
        <br />
        <span>Mensagens E-mail Inscrição</span>
      </a>
      <a mat-stroked-button [routerLink]="'./configuracao-email'">
        <span class="fas fa-inbox fa-4x"></span>
        <br />
        <span>Configuração E-mail</span>
      </a>
    </div>
    <div>
      <span class="secao">Cadastros</span>
      <mat-divider></mat-divider>
    </div>
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap.xs="5px" fxLayoutGap="5px" class="padding-padrao">
      <a mat-stroked-button [routerLink]="'./inscricoes'">
        <span class="fas fas fa-users fa-4x"></span>
        <br />
        <span>Inscrições</span>
      </a>
      <a mat-stroked-button [routerLink]="'./salas'" *ngIf="evento.ConfiguracaoSalaEstudo != null">
        <span class="fas fa-chalkboard fa-4x"></span>
        <br />
        <span>Salas de Estudo</span>
      </a>
      <a mat-stroked-button [routerLink]="'./oficinas'" *ngIf="evento.ConfiguracaoOficinas != null">
        <span class="fas fa-palette fa-4x"></span>
        <br />
        <span>Oficinas</span>
      </a>
      <a mat-stroked-button [routerLink]="'./quartos'" *ngIf="evento.TemDormitorios">
        <span class="fas fa-bed fa-4x"></span>
        <br />
        <span>Quartos</span>
      </a>
      <a mat-stroked-button [routerLink]="'./departamentos'" *ngIf="evento.TemDepartamentalizacao">
        <span class="fas fa-university fa-4x"></span>
        <br />
        <span>Departamentos</span>
      </a>
      <a mat-stroked-button [routerLink]="'./sarau'" *ngIf="evento.ConfiguracaoTempoSarauMin != null">
        <span class="fas fa-microphone-alt fa-4x"></span>
        <br />
        <span>Sarau</span>
      </a>
    </div>
  </div>
  <div fxLayout="column" fxLayoutGap="5px" class="padding-padrao" *ngIf="evento.ConfiguracaoSalaEstudo != null || evento.ConfiguracaoOficinas != null || evento.TemDormitorios || evento.TemDepartamentalizacao">
    <div>
      <span class="secao">Organização</span>
      <mat-divider></mat-divider>
    </div>
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap.xs="5px" fxLayoutGap="5px" class="padding-padrao">
      <a mat-stroked-button [routerLink]="'./divisao-salas'" *ngIf="evento.ConfiguracaoSalaEstudo != null">
        <span class="fas fa-chalkboard fa-4x"></span>
        <br />
        <span>Divisão de Salas de Estudo</span>
      </a>
      <a mat-stroked-button [routerLink]="'./divisao-oficinas'" *ngIf="evento.ConfiguracaoOficinas != null">
        <span class="fas fa-palette fa-4x"></span>
        <br />
        <span>Divisão de Oficinas</span>
      </a>
      <a mat-stroked-button [routerLink]="'./divisao-quartos'" *ngIf="evento.TemDormitorios">
        <span class="fas fa-bed fa-4x"></span>
        <br />
        <span>Divisão de Quartos</span>
      </a>
      <button mat-stroked-button *ngIf="evento.TemDepartamentalizacao" (click)="clicarInscritosDepartamentos()">
        <span class="fas fa-university fa-4x"></span>
        <br />
        <span>Inscritos Departamentos</span>
      </button>
    </div>
  </div>

  <div fxLayout="column" fxLayoutGap="5px" class="padding-padrao">
    <div>
      <span class="secao">Etiquetas</span>
      <mat-divider></mat-divider>
    </div>
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap.xs="5px" fxLayoutGap="5px" class="padding-padrao">
      <a mat-stroked-button [routerLink]="'./etiquetas-cracha'">
        <span class="fas fa-user-tag fa-4x"></span>
        <br />
        <span>Etiquetas Crachá</span>
      </a>
      <a mat-stroked-button [routerLink]="'./etiquetas-caderno'">
        <span class="fas fa-tag fa-4x"></span>
        <br />
        <span>Etiquetas Caderno</span>
      </a>      
    </div>
  </div>
</layout-geral>
