################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/EventoWeb.Nucleo/obj/Debug/netstandard2.0
/EventoWeb.Nucleo/obj
/EventoWeb.Nucleo/bin/Debug/netstandard2.0
/Secretaria/EventoWeb.WS.Secretaria/bin/Debug/netcoreapp2.1
/Secretaria/EventoWeb.WS.Secretaria/obj
