<layout-geral>
  <mat-toolbar layout-geral-cabecalho color="primary">
    <div fxLayout="column" class="sistema">
      <span>Inscrever-se</span>
      <span class="versao">{{nomeEvento}}</span>
    </div>
    <span style="flex: 1 1 auto;"></span>
    <dx-radio-group [items]="tiposInscricao"
                    [(value)]="tipoInscricaoEscolhida"
                    layout="horizontal"
                    ngClass="rd-filtro"
                    *ngIf="permiteInscricaoInfantil">
    </dx-radio-group>
    <button type="button" mat-raised-button (click)="clicarContinuar()" *ngIf="eventoEncontrado">
      Aceito
    </button>
  </mat-toolbar>
  <div *ngIf="!eventoEncontrado" fxLayout="row" fxLayoutGap="5px" fxFill fxLayoutAlign="center center">
    <div fxLayout="column" class="margem-5px" fxLayoutGap="5px" fxLayoutGap.xs="5px" fxLayoutAlign="start center">
      <i class="fas fa-users fa-7x"></i>
      <div>
        Não conseguimos encontrar o evento que você escolheu!!
      </div>
      <a mat-raised-button [routerLink]="''">Voltar</a>
    </div>
  </div>
  <div fxLayout="column" *ngIf="eventoEncontrado">
    <div class="cartao margem-5px">
      <mat-card-title>Leia atentamente o regulamento!!!</mat-card-title>
      <mat-divider></mat-divider>
      <p>Ao clicar em aceitar e fazer a sua inscrição, você confirma que leu, compreendeu e aceitou as regras do encontro.</p>
    </div>
    <comp-contrato fxFlex="70" fxFlex.xs="95" [idEvento]="idEvento"></comp-contrato>    
  </div>
</layout-geral>
